@{
  Layout = "_Layout";
}
<form action='/items' method='post'>

  <label for='description'>Item description</label>
  <input id='description' name='description' type='text'>
  <label for='dueDate'>Item due date</label>
  <input id='dueDate' name='dueDate' type='date'>


  <button type='submit'>Add item</button>


  <p><a href="/">Back home</a></p>
  <p><a href="/items">View all items</a></p>
</form>
